.div1{
	width:300px;
	height:500px;
	border: 1px solid black;
}
.font1{
	font-weight:bold;
	font-size:20px;
	margin:2px 0 0 2px;
}
.span1{
	display:block;

}

.span1 a{
	margin-top:4px;
	float:right;
}
.faceul{
	width:300px;
	height:60px;
	padding:0px;
	
}
.faceul li{
	list-style-type:none;
	float:left;
	text-align:center;
	margin-left:6px;
}
.faceul li img{
	margin-left:15px;
}